<div class="container">
    <div class="row">
      <div class="col-md-4 cart "  *ngFor="let product of products ; let i=index">
      <div class="card mb-4" >
      <img class="card-img-top img-fluid" src="{{product.productImage}}" alt="{{product.productName}}">
    
      <!-- <div class="card-body">
        <h5 class="card-title">{{team.title}}</h5>
        <span *ngFor="let ing of ingridents">   
        <ul>
          <li class="card-text"><i class="fa fa-check" aria-hidden="true"> {{ing}}</i></li>
        </ul>
      </span>
        <button class="btn btn-primary">View Recipe</button>
      </div> -->
      
      <div class="product-body">
        <p class="product-category">Category</p>
        <h3 class="product-name"><a href="#">{{product.productName}}</a></h3>
        <h4 class="product-price">{{product.price}} <del class="product-old-price">$990.00</del></h4>
        <div class="product-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="product-btns">
          <!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
          <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
          <button class="quick-view" [routerLink]="['product/product-details/',team?.id]"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button> -->
        </div>
        <div class="add-to-cart">
            <!-- <button  class="add-to-cart-btn" (click)="addcart(product)" > 
              <i class="fa fa-shopping-cart"></i> add to cart</button> -->
              <button class="add-to-cart-btn"><i class="fa fa-eye"></i><span class="tooltipp">View Cart</span></button>

        </div>
      </div>
      
      </div>
      </div>
      </div>
      <button class="btn-primary">ViewMore</button>
      </div>