/*color variables*/
$text-color: #ef233c;
$primary-color:#FFF;
$dark-bg-color:#1e1f29;
$white-sh-color:#E4E7ED;
$light-bg-color:#8D99AE;
$dropdown-color:#2B2D42;

/*fontfamily varibles*/
$fontstyle:'Roboto';

/*fontsize varibles*/
$fontXL:24px;
$fontL:18px;
$fontS:12px;
$fontXS:8px;